<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Nihal.tv Site Editor</title>
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->

        <link rel="stylesheet" href="styles/styles.css">

        <!-- Vue -->   
        <script src="https://unpkg.com/vue"></script>
        <!-- firebase -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
        <!-- firestore -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
        <!-- vue-firestore -->   
        <script src="https://unpkg.com/vue-firestore"></script>
        <!-- storage -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-storage.js"></script>
    </head>
    <body>
        <div class = "container" id="app">

            <div class="section-left">
                <label>Title</label>
                <input class="form-control" type="text" v-model="item.title" v-on:keyup.enter="add()">
                <br>
    
                <label>Genre</label>
                <input class="form-control" type="text" v-model="item.genre" v-on:keyup.enter="add()">
                <br>
    
                <label>Summary</label>
                <input class="form-control" type="text" v-model="item.summary" v-on:keyup.enter="add()">
                <br>
    
                <label>Credits</label>
                <ul>
                    <li v-for="(c, index) in item.credits">
                        <label>Role</label>
                        <input class="form-control" type="text" v-model="item.credits[index].role" v-on:keyup.enter="add()">
                        <label>Name</label>
                        <input class="form-control" type="text" v-model="item.credits[index].name" v-on:keyup.enter="add()">
                    </li>
                    <button class="btn btn-primary" @click="newCredit()">Add another credit</button>
                </ul>
                <br>
    
                <label>Upload screengrabs (PNG, GIF, JPG, JPEG)</label>
    
                <ul>
                    <li v-for="(s, index) in item.screenGrabs">
                        <!--progress value="0" max="100" id="uploader">0%</progress-->
                        <input @change="handleUpload" type="file" value="upload" id="fileButton" />
                    </li>
                    <!--button class="btn btn-primary" @click="newScreenGrab()">Add another screengrab</button-->
                </ul>
                <br>
    
                <label>Upload final film (mp4)</label>
    
                <ul>
                    <progress style="transition: 200ms" value="0" max="100" id="uploader">0%</progress>
                    <input @change="handleFilmUpload" type="file" value="upload" id="fileButtonFilm" />
                </ul>
                <br>
    
                <button class="btn btn-primary" @click="add()">Add to portfolio</button>
            </div>

            <div class="section-right">
                <ul class="list-group">
                    <li class="list-group-item" v-for="(i, index) in items">
                        <h1>{{i.title}}<button style="float: right" @click="remove(i)" class="badge">Remove from portfolio</button></h1>
                        <p style="opacity:0.5">{{i.genre}}</p>
                        <p>{{i.summary}}</p>
                        <p style="display: inline-flex" v-for="(c, index) in i.credits"><strong>{{c.role}}</strong>:{{c.name}}/</p>
                        <br>
                        <video width="250" controls>
                            <source :src="i.finalFilm" type="video/mp4" />
                        </video>
                        <br>
                        <ul style="display: inline-flex; list-style: none; padding: 0px" class="images">
                            <li v-for="(p, index) in i.screenGrabs">
                                <img style="width: 150px" :src="p" />
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        
        </div>


        <!-- app -->
        <script src="app.js"></script>
    </body>
</html>