<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>JS Bin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Vue -->   
        <script src="https://unpkg.com/vue"></script>
        <!-- firebase -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
        <!-- firestore -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
        <!-- vue-firestore -->   
        <script src="https://unpkg.com/vue-firestore"></script>
        <!-- storage -->
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-storage.js"></script>
    </head>
    <body>
        <div class = "container" id="app">
        <ul class="list-group">
            <li class="list-group-item" v-for="(i, index) in items">
                <h1>{{i.title}}<button @click="remove(i)" class="badge">x</button></h1>
                <p style="opacity:0.5">{{i.genre}}</p>
                <p>{{i.summary}}</p>
                <p style="display: inline-flex" v-for="(c, index) in i.credits"><strong>{{c.role}}</strong>:{{c.name}}/</p>
                <ul style="display: inline-flex" class="images">
                    <!--li v-for="(s, index) in screenGrabs">
                        <img src="s" />
                    </li-->
                </ul>
            </li>
        </ul>
        
        <label>Title</label>
        <input class="form-control" type="text" v-model="item.title" v-on:keyup.enter="add()">
        <br>

        <label>Genre</label>
        <input class="form-control" type="text" v-model="item.genre" v-on:keyup.enter="add()">
        <br>

        <label>Summary</label>
        <input class="form-control" type="text" v-model="item.summary" v-on:keyup.enter="add()">
        <br>

        <label>Credits</label>
        <ul>
            <li v-for="(c, index) in item.credits">
                <label>Role</label>
                <input class="form-control" type="text" v-model="item.credits[index].role" v-on:keyup.enter="add()">
                <label>Name</label>
                <input class="form-control" type="text" v-model="item.credits[index].name" v-on:keyup.enter="add()">
            </li>
            <button class="btn btn-primary" @click="newCredit()">Add another credit</button>
        </ul>
        <br>

        <label>Upload screengrabs</label>

        <ul>
            <li v-for="(s, index) in item.screenGrabs">
                <progress value="0" max="100" id="uploader">0%</progress>
                <input @change="handleUpload" type="file" value="upload" id="fileButton" />
            </li>
            <!--button class="btn btn-primary" @click="newScreenGrab()">Add another screengrab</button-->
        </ul>
        <br>

        <button class="btn btn-primary" @click="add()">Add new</button>
        </div>


        <!-- app -->
        <script src="app.js"></script>
    </body>
</html>