body {
  opacity: 0;
  margin: 0px;
  font-family: 'Yantramanav', sans-serif;
  background: #212225;
  color: white;
}

body p {
  font-size: 16px;
}

body .credit {
  font-size: 14px;
}

.navbar {
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}

.navbar h3 {
  font-weight: normal;
  font-size: 20px;
}

.navbar li {
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar li:hover {
  opacity: 0.3;
}

.navbar span {
  opacity: 0.6;
}

.settings-button {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  height: 25px;
  line-height: 25px;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav-active {
  border-bottom: solid white 3px;
  padding-bottom: -3px;
}

.nav-active:hover {
  opacity: 1 !important;
}

.nav-logo {
  position: absolute;
  left: 0px;
  margin-left: 24px;
  cursor: pointer;
}

.nav-text {
  position: absolute;
  right: 0px;
  margin-right: 12px;
}

.nav-text ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

.nav-text ul li {
  margin-left: 12px;
  margin-right: 12px;
}

.nav-center {
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-center ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  list-style: none;
}

.nav-center ul li {
  margin-left: 12px;
  margin-right: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-center .nav-icon {
  background: red;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.container {
  width: 100%;
}

.container ul {
  list-style: none;
  padding: 0px;
}

.content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 60px;
  width: 100%;
}

.section {
  width: 100%;
}

.section-fixed {
  background: #212225;
  border-radius: 12px;
  width: 340px;
}

.section-left {
  background: #212225;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  padding: 0px;
  border-radius: 6px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.section-right {
  width: 100%;
  padding-top: 48px;
}

.content-blur-active {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-filter: blur(36px);
          filter: blur(36px);
}

.content-blur-inactive {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.window-section-active {
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: fixed;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 50;
  border-radius: 6px;
  -webkit-transition: 300ms;
  transition: 300ms;
  overflow: hidden;
}

.window-section-active .inner-window {
  background: #ff7065;
  width: 70%;
  height: 800px;
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 6px;
}

.window-section-inactive {
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 50;
  border-radius: 6px;
  -webkit-transition: 300ms;
  transition: 300ms;
  pointer-events: none;
}

.window-section-inactive .inner-window {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background: #ff7065;
  width: 70%;
  height: 800px;
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 6px;
}

#film-window .inner-window {
  width: 70%;
  background: #555;
}

#photo-window .inner-window {
  width: 70%;
  background: #FBC02D;
}

#settings-window .inner-window {
  width: 70%;
  background: #66BB6A;
}

#vid0 {
  margin-top: 20px;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 3px 6px 3px 6px;
  margin-bottom: 6px;
  margin-top: 6px;
  color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 90px;
}

.general-section, .credits-section, .final-film-section, .screengrabs-section {
  background: #131417;
  border-radius: 6px;
  margin: 12px 0px 12px 0px;
  padding-left: 24px;
  padding-right: 12px;
}

.credits-section ul {
  margin-bottom: 0px;
  padding-top: 18px;
}

.general-section {
  padding: 24px;
}

.general-section input {
  width: 95%;
}

.fileButton::-webkit-file-upload-button {
  visibility: hidden;
}

.fileButton::before {
  content: 'Choose file';
  background: #131417;
  border: 2px solid white;
  padding: 3px 6px 3px 6px;
  font-size: 12px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.fileButton {
  font-size: 12px;
  cursor: pointer;
}

.fileButton:hover::before {
  color: #131417;
  background: white;
}

label {
  margin-right: 6px;
  margin-left: 6px;
  padding-bottom: 6px;
  font-size: 12px;
}

button {
  background: #131417;
  color: #66BB6A;
  border: 2px #66BB6A solid;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-top: 18px;
  font-size: 12px;
}

button:hover {
  color: white;
  background: #66BB6A;
}

.badge {
  margin-top: 0px;
  background: #131417;
  border: 2px #ff7065 solid;
  color: #ff7065;
  font-weight: bold;
}

.badge:hover {
  color: white;
  background: #ff7065;
}

h2 {
  color: white;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 12px;
}

.upload-section {
  padding-bottom: 0px;
  padding-right: 24px;
  margin-bottom: 0px;
}

.upload-section input {
  display: block;
}

.upload-section ul {
  margin-bottom: 0px;
}

.btn-primary {
  width: 100%;
  background: #212225;
  margin-top: 36px;
  border-radius: 6px;
  height: 48px;
}

input[type="file"] {
  padding-top: 20px;
}

.left-label {
  margin-left: 0px;
}

progress {
  width: 100%;
  height: 12px;
  margin-top: 24px;
}

/*.general-section {
    //background: $colorDark;

    padding: 12px;

    label {
        margin-bottom: 12px;
    }

    input {
        width: 92%;
        margin-top: 6px;
    }
}*/
.project-item {
  background: #131417;
  padding: 30px;
  margin: 30px 30px 30px 0px;
  border-radius: 6px;
}

.project-item .item-header {
  background: #212225;
  height: 24px;
  width: 100%;
}

.project-item h1 {
  margin-bottom: 8px;
}

.project-item .vid-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.project-item video {
  border-radius: 6px;
  margin-right: 30px;
  width: 400px;
}

.project-item img {
  margin: 24px 18px 12px 0px;
  border-radius: 6px;
  width: 160px;
}

.project-item .images {
  margin-left: -12px;
}

.project-item span {
  opacity: 0.6;
}

.summary {
  max-width: 512px;
}

.veil {
  position: fixed;
  background: #212225;
  height: 100vh;
  width: 100%;
  z-index: 25;
}

.veil .login {
  background: #131417;
  z-index: 30;
  border-radius: 6px;
  width: 300px;
  height: 300px;
  position: fixed;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 24px;
}

@media only screen and (max-width: 1000px) {
  .images {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */