$colorText: #555;
$colorMain: #212225;
$colorDark: #131417;
$colorLight: rgba(white, 0.3);
$colorLink: #ff7065;
$colorWhite: #eee;
$colorGreen: #66BB6A;
$colorYellow: #FBC02D;

body {
    opacity: 0;
    margin: 0px;
    font-family: 'Yantramanav', sans-serif;
    background: $colorMain;
    //background: blue;
    color: white;

    p {
        font-size: 16px;
    }

    .credit {
        font-size: 14px;
    }
}

.navbar {
    position:fixed;
    background: linear-gradient(black, transparent);
    //background: black;
    z-index: 999;
    display: flex;
    align-items: center;
    //justify-content: center;
    width: 100%;
    height: 60px;
    //box-shadow: 0px 10px 10px 10px black inset;

    h3 {
        font-weight: normal;
        font-size: 20px;
    }

    li {
        height: 60px;
        line-height: 60px;
        cursor: pointer;
        transition: 200ms;
        &:hover {
            opacity: 0.3;
        }

    }

    span {
        opacity: 0.6;
    }
}

.settings-button {
    background: rgba(white, 0.2);
    border-radius: 6px;
    height: 25px;
    line-height: 25px;
    padding-left: 12px;
    padding-right: 12px;
    transition: 200ms;

    &:hover {
        //opacity: 1 !important;
        //transform: scale(0.9);
    }
}

.nav-active {
    //background: blue;
    border-bottom: solid white 3px;
    padding-bottom: -3px;

    &:hover {
        opacity: 1 !important;
    }
}

.nav-logo {
    position: absolute;
    left: 0px;
    margin-left: 24px;
    cursor: pointer;
}

.nav-text {
    position: absolute;
    right: 0px;
    margin-right: 12px;

    ul {
        //background: red;
        display: inline-flex;
        text-align: center;

        li {
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.nav-center {
    position: absolute;
    right: 0px;
    left: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        //background: red;
        display: inline-flex;
        text-align: center;
        list-style: none;

        li {
            margin-left: 12px;
            margin-right: 12px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    .nav-icon {
        background: red;
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
}

.container {
    width: 100%;
    
    ul {
        list-style: none;
        padding: 0px;
    }
}

.content {
    display: inline-flex;
    margin-top: 60px;
    width: 100%;
}

.section {
    width: 100%;
}

.section-fixed {
    //position: fixed;
    //padding: 30px;
    background: $colorMain;
    border-radius: 12px;
    width: 340px;
    //margin-top: 60px;
}

.section-left {
    //margin-top: 120px;
    background: $colorMain;
    color: $colorWhite;
    //width: 75%;
    display: flex;
    //justify-content: center;
    //align-items: center;
    //height: 100vh;
    margin: 30px;
    padding: 0px;
    border-radius: 6px;
    height: max-content;
}

.section-right {
    //background: $colorMain;
    width: 100%;
    padding-top: 48px;
    //padding: 30px;
    //margin-left: 560px;
}

.content-blur-active {
    transition: 300ms;
    filter: blur(36px);
}

.content-blur-inactive {
    transition: 300ms;
    filter: blur(0px);
}

.window-section-active {
    //background: black;
    width: 100%;
    height: 100vh;
    opacity: 1;
    position: fixed;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    border-radius: 6px;
    //padding: 48px;
    transition: 300ms;
    overflow: hidden;

    .inner-window {
        background: $colorLink;
        width: 70%;
        height: 800px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        transition: 300ms;
        border-radius: 6px;
    }
}

.window-section-inactive {
    //background: black;
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    border-radius: 6px;
    //padding: 48px;
    transition: 300ms;
    pointer-events: none;

    .inner-window {
        transform: scale(0.9);
        background: $colorLink;
        width: 70%;
        height: 800px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        transition: 300ms;
        border-radius: 6px;
    }
}

#film-window {
    .inner-window {
        width: 70%;
        background: $colorText;
    }
}

#photo-window {
    .inner-window {
        width: 70%;
        background: $colorYellow;
    }
}

#settings-window {
    .inner-window {
        width: 70%;
        background: $colorGreen;
    }
}

#vid0 {
    margin-top: 20px;
}

input[type="text"] {
    background:rgba(white, 0.2);
    border: none;
    padding: 3px 6px 3px 6px;
    //border-radius: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    color: white;
    transition: 200ms;
    width: 90px;
}

.general-section, .credits-section, .final-film-section, .screengrabs-section {
    background: $colorDark;
    border-radius: 6px;
    margin: 12px 0px 12px 0px;
    padding-left: 24px;
    padding-right: 12px;
}

.credits-section {
    //padding: 0px 24px 0px;

    ul {
        margin-bottom: 0px;
        padding-top: 18px;
    }
}

.general-section {
    padding: 24px;

    input {
        width: 95%;
    }
}

.fileButton::-webkit-file-upload-button {
    visibility: hidden;
}

.fileButton::before {
    content: 'Choose file';
    background: $colorDark;
    border: 2px solid white;
    padding: 3px 6px 3px 6px;
    font-size: 12px;
    //margin-right: 24px;
    transition: 200ms;
    cursor: pointer;
}

.fileButton::after {
    //content: 'no file chosen';
    //background: red;
}

.fileButton {
    font-size: 12px;
    cursor: pointer;

    &:hover {
        &::before {
            color: $colorDark;
            background: white;
        }
    }
}

.final-film-section {

}

label {
    margin-right: 6px;
    margin-left: 6px;
    padding-bottom: 6px;
    font-size: 12px;
}

button {
    background: $colorDark;
    color: $colorGreen;
    border: 2px $colorGreen solid;
    padding: 3px 6px 3px 6px;
    //border-radius: 6px;
    cursor: pointer;
    transition: 200ms;
    margin-top: 18px;
    font-size: 12px;

    &:hover {
        color: white;
        background: $colorGreen;
    }
}

.badge {
    margin-top: 0px;
    background: $colorDark;
    border: 2px $colorLink solid;
    color: $colorLink;
    font-weight: bold;

    &:hover {
        color: white;
        background: $colorLink;
    }
}

h2 {
    //margin-bottom: 18px;
    color: white;
    //opacity: 0.5;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 12px;
}

.upload-section {
    //padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 24px;
    margin-bottom: 0px;
    //height: 60px;

    input {
        display: block;
    }

    ul {
        margin-bottom: 0px;
    }
}

.btn-primary {
    width: 100%;
    background: $colorMain;
    margin-top: 36px;
    border-radius: 6px;
    //color: white;
    height: 48px;

    &:hover {
        //color: white;
        //background: $colorGreen;
        //filter: brightness(0.6);
    }
}

input[type="file"] {
    //font-size: 16px;
    padding-top: 20px;
}

#fileButton:focus {
    
}

.left-label {
    margin-left: 0px;
}

progress {
    //appearance: none;
    width: 100%;
    height: 12px;
    margin-top: 24px;
    //border-radius: 24px;
}

progress[value] {
    //background-color: $colorYellow;
}

/*.general-section {
    //background: $colorDark;

    padding: 12px;

    label {
        margin-bottom: 12px;
    }

    input {
        width: 92%;
        margin-top: 6px;
    }
}*/

.project-item {
    background: $colorDark;
    padding: 30px;
    margin: 30px 30px 30px 0px;
    border-radius: 6px;

    .item-header {
        background: $colorMain;
        height: 24px;
        width: 100%;
    }

    h1 {
        margin-bottom: 8px;
    }

    .vid-section {
        display: inline-flex;
    }

    video {
        border-radius: 6px;
        margin-right: 30px;
        width: 400px;
    }

    img {
        margin: 24px 18px 12px 0px;
        border-radius: 6px;
        width: 160px;
    }

    .images {
        margin-left: -12px;
    }

    span {
        opacity: 0.6;
    }
}

.summary {
    max-width: 512px;
}

.veil {
    position: fixed;
    background:#212225;
    height: 100vh;
    width: 100%;
    z-index: 25;

    .login {
        background:#131417;
        z-index: 30;
        border-radius: 6px;
        width: 300px;
        height: 300px;
        position: fixed;
        margin: auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 24px;
    
        input::before {
    
        }
    }
}

// ---------- smaller devices ----------

@media only screen and (max-width: 1000px) {
    .images {
        display: block;
    }
}